@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary: #fff
  --color-danger: #EF4444
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Nunito",'Segoe UI', 'Roboto', 'Oxygen';
  scroll-behavior: smooth;
  @apply bg-neutral-900 text-neutral-300
}